h1 {
    color: #725749;
    font-family: "Bricolage Grotesque", serif;
}
h2 {
    color: #b07a5a;
    font-family: "Bricolage Grotesque", serif;
}
img {
    width: 100%;
}
body {
    background-color: #cddae9;
}
