/*
 * My Color Pallette
 * #d6cac5
 * #cddae9
 * #725749
 * #b07a5a
 * #2e2e2e
 * #f5f5ef
 */

@media {
    h1 {
        color: #725749;
        font-family: "Bricolage Grotesque", serif;
        font-size: 30px;
        margin: 45px 0px 0px 10px;
        text-align: left;
    }
    h2 {
        color: #b07a5a;
        font-family: "Bricolage Grotesque", serif;
        font-size: 25px;
        margin: 10px 0px 0px 10px;
        text-align: left;
    }
    img {
        width: 50%;
        border-radius: 12px;
        margin: auto;
        display: block;
    }
    body {
        background-color: #cddae9;
    }

    button {
        border-radius: 45px;
        border: none;
        background-color: #b07a5a;
        color: #d6cac5;
        width: 150px;
        padding: 10px 15px 10px 15px;
        font-size: 15px;
        margin: 10px 10px 10px 10px;
    }
    button:hover {
        background-color: #725749;
    }
    button a {
        color: #d6cac5;
    }

    #navigation {
        background-color: #b07a5a;
        margin-bottom: 10px;
        font-size: 15px;
        font-family: "Bricolage Grotesque", serif;
    }
    #navigation a {
        color:#2e2e2e;
    }
    #navigation a:hover {
        color:#cddae9;
    }

    h3 {
        font-size: 10px;
        color: #2e2e2e;
        font-family: "Bricolage Grotesque", serif;
        padding: 10px 5px 5px 10px;
        text-align: center;
    }
    h4 {
        font-family: "Bricolage Grotesque", serif;
        color: #d6cac5;
        background-color: #b07a5a;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
        font-size: 30px;
    }
    .jobtitle {
        font-family: "Bricolage Grotesque", serif;
        color: #725749;
        font-size: 30px;
        padding-left: 10px
    }
    .organization {
        font-family: "Bricolage Grotesque", serif;
        font-size: 20px;
        color: #b07a5a;
        padding-left: 10px;
    }
    .detes {
        font-family: "Bricolage Grotesque", serif;
        color: #2e2e2e;
        background-color: #d6cac5;
        padding-left: 10px;
        font-size: 15px;
    }
    h5 {
        font-family: "Bricolage Grotesque", serif;
        text-align: center;
        color:#d6cac5;
        background-color:#b07a5a;
        padding: 10px;
        font-size: 30px;
    }
    .school {
        font-family: "Bricolage Grotesque", serif;
        font-size: 20px;
        color: #725749;
        text-align: center;
    }
    .degree {
        font-family: "Bricolage Grotesque", serif;
        font-size: 15px;
        color: #725749;
        text-align: center;
    }
    .date {
        font-family: "Bricolage Grotesque", serif;
        font-size: 15px;
        color: #725749;
        text-align: center;
    }
    h6 {
        font-family: "Bricolage Grotesque", serif;
        text-align: center;
        color:#d6cac5;
        background-color:#b07a5a;
        padding: 10px;
        font-size: 30px;
    }
    ul {
        font-family: "Bricolage Grotesque", serif;
        font-size: 15px;
        color:#2e2e2e;
        background-color: #d6cac5;
        text-align: center;
    }
}
@media (min-width: 576px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 60px; 
    }
    button {
        border-radius: 85px;
        font-size: 35px;
        width: 250px;
    }
    h3 {
        font-size: 20px;
    }
     #navigation {
         margin-bottom: 20px;
}
    h4 {
        margin-top: 20px;
    }
